.create-product{
    padding: 1rem;
    display: flex;
    margin: auto auto;
}

.product-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}
.product-form > *{
    color: var(--clr-dark-dark);
    font-size: var(--fs-h2);
    font-weight: 600;
}

.product-form input{
    border-radius: 0.4rem;
}
