.orders-container{
    display: grid;
    width: fit-content;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    column-gap: 100px;
    row-gap: 100px;
}
.order-card{
    background-color: lightgrey;
    width: 40rem;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;
}
h1{
    text-align: center;
}
.no-orders{
    grid-area: 1 / 1 / 2 / 3;
}