.navbar{
    width: 100%;
    height: var(--nav-height);
    padding: 1.8rem;
    background-color: var(--clr-light-brown);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar .links {
    list-style: none;
    display: flex;
    
  }

  .navbar .links a{
    text-decoration: none;
    color: var(--clr-dark-dark);
    cursor: pointer;
    font-size: var(--fs-h2);
    
  }

  .navbar .links li a{
    margin: 0 0.6rem;
    font-weight: 600;
  }

  .navbar .links li a:hover{
    color: var(--clr-light-yellow);
    box-shadow: 0 0.1rem 0 var(--clr-light-dark);
  }
  
  .navbar .toggle-icon{
    display: none
  }

  .navbar .links button{
    border: none;
    margin: 0 0.6rem;
    font-weight: 600;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
  }

  .navbar .links button:hover{
    color: var(--clr-light-yellow);
    box-shadow: 0 0.1rem 0 var(--clr-light-dark);
  }








  @media(max-width: 900px){
        .navbar{
        position: relative;
        transition: 0.3s all ease-in-out;
        }
    
        .navbar.expanded{
        height: 28rem;
        }
    
        .navbar.expanded .links{
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        }
    
        .navbar.expanded .links li a{
        margin: 1rem 0;
        font-size: 1.5rem;
        }
        
          .navbar .toggle-icon{
            display: block;
            order: 4;
            color: var(--clr-dark-dark);
            position: absolute;
            top: 0;
            right: 1.2rem;
          }
        
          .navbar .links{
            position: absolute;
            top: -300px;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }
        
          .navbar .links li{
            margin: 1rem 0;
            font-size: 1.4rem;
          }

          .navbar .home-page{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
    }