.pagination-box {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1.5rem;
	align-items: center;
}
.pagination {
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333;
	font-size: 1em;
	padding: 0.5rem 2rem;
	margin: 0 0.3rem;
	cursor: pointer;
}

.prodact-card-style {
	display: flex;
	justify-items: end;
	
}

button.current {
	background-color: rgb(245, 173, 85);
	color: white;
	border-radius: 0.5em;
	border: none;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 1em;
	padding-left: 1em;
	align-items: stretch;
	margin-right: 0.2em;
	margin-left: 0.2em;

}

button.notCurrent {
	background-color: rgb(202, 194, 175);
	color: white;
	border-radius: 0.5em;
	border: none;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 1em;
	padding-left: 1em;
	align-items: stretch;
	margin-right: 0.2em;
	margin-left: 0.2em;
}

button.current, button.notCurrent:hover{
	cursor: pointer;
}


.activeStepPage{
	background-color: rgb(219, 217, 213);
	color: rgb(173, 151, 125);
	border:#1a171400 ;
	margin-right: 0.3em;
	margin-left: 0.3em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 0.35em;
	padding-bottom: 0.3em;
	border-radius: 0.5em;
	font-size: medium;
	align-items: stretch;
}

.stepPage {
	background-color:bisque;
	color: rgb(173, 151, 125);
	border:#1a171400 ;
	margin-right: 0.3em;
	margin-left: 0.3em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 0.35em;
	padding-bottom: 0.3em;
	border-radius: 0.5em;
	font-size: medium;
	align-items: stretch;
}

.stepPage:hover{
	background-color:rgb(218, 180, 133);
	cursor: pointer;
}
