.pagination-box {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1.5rem;
	align-items: center;
}
.pagination {
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333;
	font-size: 1em;
	padding: 0.5rem 2rem;
	margin: 0 0.3rem;
	cursor: pointer;
}

.prodact-card-style {
	display: flex;
	justify-items: end;
}

button.current {
	background-color: red;
	color: white;
}
