.filter-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    min-height: 1.5rem;
    gap: 0.1rem;
    max-width: 100%;
}

.search-field{
    display: flex;
    justify-content: center;
    width: 100%;

}



.searchButton {
    border: bisque;
    background-color:rgb(250, 215, 173);
    border-radius: 0.3em;
    align-self: center;
    min-height: 1.5rem;
   
    
}
.searchButtonBack{
    border: rgb(18, 16, 13);
    background-color:rgb(250, 215, 173);
    border-radius: 0.3em;
    position: relative;
    align-self: center;
    min-height: 1.5rem;
}

.searchInput {
    border: bisque;
    background-color:bisque;
    border-radius: 0.2em;
    font-size: medium;
    min-height: 1.5rem;
    appearance: none;
    width: 100%
    
    
}

.search-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.search-price{
    display: flex;
    flex-direction: column;
    max-width: inherit;
    gap: 0.07rem;
    width: 100%;
}


@media(max-width:900px){
    .sort-box{
        flex-direction: column;
    }


}