.product-container{
    display: flex;
    flex-direction: row;
    
}

.products-aside {
    width: 20%;
    border: 1px solid black;
    /* flex:  */
}

.products-main {
    width: 80%;
    border: 1px solid rgb(182, 58, 58);

}

.fill-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    max-height: 5rem;
}

.product-box{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem 1rem;
    /* width: 80%; */
    /* align-self: center;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px
    
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0.5rem 0;
}



@media(max-width:900px){
    .fill-menu{
        flex-direction: column;
        gap: 0;
        margin: 0;
    }
}

@media(max-width:660px){
    
}