.product-row{
    background-color: var(--clr-dark-white);
    border-radius: var(--p-small);
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 30rem;
    max-height: 15rem;
    min-height: 15rem;
}

.product-content{
    padding-left: 0.2rem;
    margin-left: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-height: 15rem;
    min-height: 15rem;

}


.product-title{
    font-size: var(--fs-h1);
    font-family: var(--ff-primary);
    color: var(--clr-dark-yellow);
    margin: 0;
}

.product-description{
    font-size: var(--fs-h3);
    line-height: var(--m-lagre);
    margin: 0;
}

.porduct-price{
    font-size: var(--fs-h2);
    font-family: var(--ff-primary);
    margin: 0;
}

.chart-button{
    cursor: pointer;
    padding: 0.5em 1.5em;
    border: 0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--clr-dark-brown);
    font-size: var(--fs-h2);
    margin: auto;
}

.chart-button:hover {
    background-color: var(--clr-dark-yellow);
}

.image{
    size: var(--ps-medium);
}