*{
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.main{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2rem;
    
}
