*{
    box-sizing: border-box;
}

body{
    background-image: url("white.jpg") ;
     background-size:contain;
     background-repeat: no-repeat;
}

.main{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2rem;
    
}

.about {
    width: 45rem;
    padding: 3rem;
    opacity: 2;
    position:relative;
}

.intro {
    font-size: 2rem;
}


