/* .filter-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    
}

.search-field{
    display: flex;
    justify-content: center;
    width: max-content;
}

.search-price{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.filter-main .searchButton {
    border: bisque;
    background-color:rgb(250, 215, 173);
    border-radius: 0.3em;
    align-self: center;
    min-height: 1.5rem;
    min-width: 1.5rem;
   
    
}

.filter-main.searchButtonBack{
    border: rgb(18, 16, 13);
    background-color:rgb(250, 215, 173);
    border-radius: 0.3em;
    min-height: 1.5rem;
}

.searchInput {
    border: bisque;
    background-color:bisque;
    border-radius: 0.2em;
    font-size: medium;
    min-height: 1.5rem;
    appearance: none;
    
}

.search-icons{
    display: flex;
    flex-direction: row;
    width: max-content;
} */