.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
.searchButton {
    border: bisque;
    background-color:rgb(250, 215, 173);
    border-radius: 0.3em;
    position: relative;
    right: 0.5rem;
    align-self: center;
    min-height: 1.5rem;
    min-width: 1.5rem;
   
    
}

.searchButtonBack{
    border: rgb(18, 16, 13);
    background-color:rgb(250, 215, 173);
    border-radius: 0.3em;
    position: relative;
    align-self: center;
    position: relative;
    right: 1em;
    min-height: 1.5rem;
}

.searchInput {
    border: bisque;
    background-color:bisque;
    border-radius: 0.2em;
    font-size: medium;
    min-height: 1.5rem;
    appearance: none;
    
}